<h1>Big Data Implementation</h1>
<hr>
<div class="row-fluid">
	<div class="span6">
    	<h3><b>Hadoop</b></h3>
        <br/>
        <p>Hadoop is an open source software that enables storing and processing very large amount of data inexpensively on commodity hardware instead of proprietary hardware. With Hadoop, you can process and analyze large data very quickly. Hadoop achieves this using distributed parallel processing.</p>
    </div>
    <div class="span6">
    	<%= image_tag("hadoop.jpg", :size => "300x300", :class => "img-center") %>
    </div>
</div>
<hr>

<div class="row-fluid">
	<div class="span6">
		<%= image_tag("hive.png", :size => "300x300", :class => "img-center") %>
	</div>
	<div class="span6">
		<h3><b>Hive</b></h3>
		<br/>
		<p>Hive is a data warehouse system for Hadoop that facilitates easy data summarization, ad-hoc queries, and the analysis of large datasets stored in Hadoop compatible file systems. Hive provides a mechanism to project structure onto this data and query the data using a SQL-like language called HiveQL.</p>
	</div>
</div>