<h1>Cloud Computing</h1>
<hr>
<div class="row-fluid">
	<div class="span6">
    	<h3><b>AWS</b></h3>
        <br/>
        <p>Amazon Web Services offers a complete set of infrastructure and application services that enable you to run virtually everything in the cloud: from enterprise applications and big data projects to social games and mobile apps. AWS enables you to eliminate the need for costly hardware and the administrative pain that goes along with it. AWS can reduce costs and improve cash flow.</p>
    </div>
    <div class="span6">
    	<%= image_tag("aws.png", :size => "300x300", :class => "img-center") %>
    </div>
</div>
<br/><br/><br/><br/><br/><br/>