<h1>Contact Us</h1>
<hr>
<div class="row-fluid">
	<div class="span4">
		<h3><b>Head Office</b></h3>
	</div>
	<div class="span8">
		<h3><b>DustRise Technologies - USA</b></h3>
        <p>19042 Rocky Creek Dr</p>
        <p>Leesburg, VA - 20176, USA</p>
   		<p>Phone: +1-703-937-7731</p>
        <p><b>Email: info@dustrise.com</b></p>
        <br /><br />
	</div>
</div>
<hr>
<div class="row-fluid">
	<div class="span4">
		<h3><b>India Office</b></h3>
	</div>
	<div class="span8">
		<h3><b>DustRise Technologies - India</b></h3>
        <p>Suite 401, Siri Lotus, Uttarahalli</p>
        <p>Bangalore - 560061, India</p>
   		<p>Phone: +91-814-789-6734</p>
        <p><b>Email: india@dustrise.com</b></p>
	</div>
</div>

