
<div class="row-fluid">
	<div class="span6">
  			<h3>Mobile</h3>
  			<br/>
  			<p>The past decade has seen tremendous growth in mobile usage. Now, the number of mobile devices in the world have outnumbered the desktops and laptops. Do you have mobile presence? Are you ready to capture the vast potential offered by smart phones and tablets?</p>
  			<p>
    			<a href="mobile.html" class="btn btn-primary">Learn more</a>
  			</p>
    </div>
	<div class="span6">
  			<h3>Web 2.0</h3>
  			<br/>
  			<p>Latest web technologies have enabled large scale two-way conversation between companies and customers. They have enabled increased social interaction. Beautifully designed websites with rich customer interaction increases your brand image and revenues.</p>
  			<p>
    			<a href="web.html" class="btn btn-primary">Learn more</a>
  			</p>
  			<br/><br/>
    </div>
</div>

<div class="row-fluid">
	<div class="span6">

  			<h3>Cloud</h3>
  			<br/>
  			<p>Just like internet has democratized information, cloud computing has democratized computing power. One does not need to own huge data centers and infrastructure. You can scale up compute capacity in minutes and pay only for what you use. Are you using the cloud?</p>
    			<a href="cloud.html" class="btn btn-primary">Learn more</a>
  			</p>

    </div>
	<div class="span6">

  			<h3>Big Data</h3>
  			<br/>
  			<p>The amount of data generated in the world is doubling every 18 months or so. Be it twitter feeds or images are facebook or sensor data, we have so much data around us. How can you gain insights from this data so that you can use it for competitive advantage? BigData can help you.</p>
  			<p>
    			<a href="bigdata.html" class="btn btn-primary">Learn More</a>
  			</p>

    </div>
</div>