<h1>Mobile Application Development</h1>
<hr>
<div class="row-fluid">
	<div class="span6">
    	<h3><b>iPhone</b></h3>
        <br/>
        <p>Steve Jobs created a miracle with the iPhone. When Palm and other manufacturers were producing very un-user friendly smart phones, iPhone was released that was an order of magnitude better. Apple also released developer kit so that users could create new apps. Even though iPhone is relatively expensive, it can not be ignored because so many millions of people own it and love it.</p>
    </div>
    <div class="span6">
    	<%= image_tag("iphone.jpg", :size => "300x300", :class => "img-center") %>
    </div>
</div>
<hr>

<div class="row-fluid">
	<div class="span6">
		<%= image_tag("ipad.png", :size => "300x300", :class => "img-center") %>
	</div>
	<div class="span6">
		<h3><b>iPad</b></h3>
		<br/>
		<p>When iPad came out everyone thought it was just bigger version of the iPhone. But iPad has proved useful to so many people. It has created a new market by itself. It has become a runaway hit. With the bigger screen real estate than the iPhone and at the same time being mobile friendly, it has numerous applications in corporate and education sectors.</p>
	</div>
</div>
<hr>

<div class="row-fluid">
	<div class="span6">
		<h3><b>Android</b></h3>
		<br/>
		<p>Android is open source operating system released by Google. Its widely adopted by many smart phone manufacturers. Android devices far outnumber Apple devices.</p>
	</div>
	<div class="span6">
		<%= image_tag("android.jpg", :size => "300x300", :class => "img-center") %>
	</div>
</div>

