<h1>Management Team</h1>
<hr>
<div class="row-fluid">
	<div class="span3">
		<%= image_tag("span.png", :size => "200x200", :alt => "Siva") %>
	</div>
	<div class="span9">
		<h3><b>Siva Pandeti</b></h3>
        <h3><b>Founder&nbsp;&amp;&nbsp;CEO</b></h3>
        <br/>
   		<p>Siva has more than a decade of experience is software industry. He has worked at various Fortune 500 companies inlcuding Fannie Mae, Southwest Airlines and AMD. He has a masters degree from University of Maryland, College Park and a bachelors degree from Indian Institute of Technology, Madras. He is passionate about solving billion dollar problems.
   		</p>
        <br /><br /><br /><br />
	</div>
</div>
<hr>
<div class="row-fluid">
	<div class="span3">
		<%= image_tag("spra.jpg", :size => "200x200", :alt => "Siva") %>
	</div>
	<div class="span9">
		<h3><b>Prasad Raju</b></h3>
        <h3><b>President&nbsp;&amp;&nbsp;COO</b></h3>
        <br/>
   		<p>Prasad is in IT industry for over seven years. He has worked at many multinational companies including Cap Gemini, IBM and TCS.
   		</p>
	</div>
</div>

