<h1>Web Development</h1>
<hr>
<div class="row-fluid">
	<div class="span6">
    	<h3><b>HTML 5 - Rails - MySQL</b></h3>
        <br/>
        <p>With rapid progress being made in web development, websites now are far aesthetic, feature-rich and user friendly. New technologies and tools such as HTML5, CSS, Javascript, Ruby on Rails enable the developers to create beautiful and functional web pages. We can help you build or maintain website for your business so that you can concentrate on growing the business.</p>
    </div>
    <div class="span6">
    	<%= image_tag("html5.png", :size => "300x300", :class => "img-center") %>
    </div>
</div>
<hr>

<div class="row-fluid">
	<div class="span6">
		<%= image_tag("rails-big.png", :size => "300x300", :class => "img-center") %>
	</div>
	<div class="span6">
		<%= image_tag("mysql.jpg", :size => "300x300", :class => "img-center") %>
	</div>
</div>